body {
    font-family: "Maven Pro", sans-serif;
}

.purple-text {
    color: #5C2D91;
}

.px-1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.yellow-text {
    color: #FB8A00;
}

.light-grey-bg {
    background: #F6F1FB;
    border-radius: 27px;
}

.white-text {
    color: #fff;
}

.light-purple-bg {
    background: #F9F0E5;
}

.grey-bg {
    background: #FAF5FF;
}

.purple-light-bg {
    background: #5C2D91;
}

.heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 54.18px;
    text-align: center;
}

.round-corner {
    border-radius: 44px;
}

.subheading {
    font-size: 18px;
    font-weight: 700;
    line-height: 27.09px;
    text-align: center;
}

.form-title-bar {
    background: #5C2D91;
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 20px 20px 0 0;
    margin-top: 5rem;
    margin-bottom: 0;
}

.form-title-bar a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.08px;
    text-align: left;
    text-decoration: none;
}

.purple-bg {
    background-color: #3C1665;
}

.banner-header {
    font-family: Maven Pro;
    font-size: 42px;
    font-weight: 600;
    line-height: 49.35px;
    text-align: left;
    color: #FFFFFF;
    margin: 1.5rem 0;
}

.yellow-text {
    color: #FB8A00;
}

.banner-text {
    font-family: Maven Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.8px;
    text-align: left;
    color: #fff;
}

.banner-content-module h4 {
    font-family: Maven Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.15px;
    text-align: left;
    color: #FCCA8E;
}

.transform-price h3 {
    font-family: Maven Pro;
    font-size: 40.09px;
    font-weight: 700;
    line-height: 47.1px;
    text-align: left;
    color: #fff;
}

.transform-price span {
    font-family: Maven Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.45px;
    text-align: left;
    color: #fff;
}

.transform-price {
    background: #5C2D81;
    padding: 10px 39px;
    margin-top: 1rem;
    margin-left: -35px;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    width: 70%;
}

.peach-border-right {
    border-right: 1px solid #FDAD6A;
    padding-right: 1rem;
    margin-right: 1rem;
}

.banner-form-module {
    box-shadow: 0px 3.24px 8.76px 0px #00000040;
    background: #AB8FCA4D;
    text-align: center;
    color: #fff;
    border-radius: 12.16px;
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 1.5rem 2rem;
}

.banner-form-module h4 {
    font-size: 16.21px;
    font-weight: 600;
    line-height: 19.05px;
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

.banner-form-module .form-input {
    border-radius: 6.49px;
    border: navajowhite;
    padding: 10px 20px;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 14.59px;
    color: #000;
}

.banner-form-module input::placeholder {
    line-height: 17.15px;
    text-align: left;
    color: #82817F;
}

.custom-btn {
    background: linear-gradient(90.97deg, #F7941D 58.96%, rgba(255, 173, 75, 0.86) 98.25%);
    font-size: 16.21px;
    font-weight: 600;
    line-height: 19.05px;
    text-align: left;
    color: #fff;
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 6.49px;
    margin-top: 2rem;
}

.btn-yellow {
    background: linear-gradient(90.97deg, #F7941D 58.96%, rgba(255, 173, 75, 0.86) 98.25%);
}

.form-check {
    display: flex;
    width: 60%;
    margin: auto;
    font-size: 10.96px;
    font-weight: 500;
    line-height: 12.88px;
    text-align: left;
}

.form-check-input {
    width: 2em;
    height: 2em;
    margin-right: 10px;
}

.form-check-input:checked {
    background-color: #FB8A00;
    border-color: #FB8A00;
}

.icon-text-module p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27.09px;
    text-align: left;
}

.transform-kit-table th,
.transform-kit-table td {
    border: 1px solid #5C2D91;
}

.transform-kit-table th {
    font-size: 20px;
    font-weight: 700;
    line-height: 30.1px;
    text-align: center;
    background: #D5B6F8;
    color: #5C2D91;
    padding: 0.7rem 2rem;
}

.transform-kit-table tbody td {
    border-bottom: 1px solid #FB8A00
}

.transform-kit-table td {
    padding: 0.7rem 2rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 30.1px;
    color: #5C2D91;
    text-align: center;
}

.transform-kit-table tfoot td {
    background: #F0E4FE;
}

.transform-kit-table tfoot td p {
    font-size: 32px;
    font-weight: 500;
    line-height: 48.16px;
    text-align: left;
    color: #5C2D91;
}

.transform-kit-table tfoot td span {
    font-size: 40.09px;
    font-weight: 700;
    line-height: 47.1px;
    text-align: left;
}

.reversal-program {
    padding-left: 0;
    margin-left: 0;
}

.reversal-program li {
    font-family: Maven Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 27.09px;
    text-align: left;
    color: #5C2D91;
    list-style: none;
    position: relative;
    padding-left: 2rem;
    margin: 1rem 0;
}

.reversal-program li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(images/check-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
}

.goal-setting-module {
    background: linear-gradient(90deg, #5C2D91 0%, #E5A75A 100%);
    border-radius: 22px;
    padding: 3rem;
    width: 80%;
    margin: 4rem auto 0;
    position: relative;
}

.goal-setting-list {
    font-size: 24px;
    font-weight: 700;
    line-height: 36.12px;
    text-align: left;
    color: #fff;
    list-style: none;
    padding: 2rem 0 0;
    margin: 0;
}

.goal-setting-list li {
    margin: 1rem 0;
}

.goal-setting-user {
    background: #ffff;
    width: 90px;
    height: 90px;
    padding: 20px 25px;
    border-radius: 50px;
    border: 1px solid #5C2D91;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.achieve-goal-icon p {
    font-size: 21.85px;
    font-weight: 700;
    line-height: 25.68px;
    text-align: center;
    margin-bottom: 0;
    color: #FB8A00;
    margin-top: 1rem;
}

.subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 36.12px;
}

.achieve-goal-section .container {
    border: 1px solid #FB8A00;
    border-radius: 179px;
}

.text-icon-module {
    width: 80%;
    margin: auto;
    padding: 0 2rem;
}

.achieve-goal-header {
    background: #FFFFFF;
    width: fit-content;
    margin: -44px auto 0;
    padding: 0 10px;
}

.overcome-diabetes-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 54.18px;
    text-align: left;
}

.overcome-diabetes-list {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.overcome-diabetes-list li {
    background: linear-gradient(90deg, #AF84E1 0%, #8C59C6 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Maven Pro;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.85px;
    width: 90%;
    padding: 15px 20px;
    margin-top: 1rem;
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.overcome-diabetes-list span {
    padding-left: 1rem;
}

.team-member-module p {
    color: #5C2D91;
    font-family: Maven Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 30.1px;
    text-align: center;
}

.team-member-img {
    width: 50%;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1025px) {

    .transform-price,
    .goal-setting-module {
        width: 90%;
    }

    .achieve-goal-icon p {
        font-size: 18px;
        line-height: normal;
    }

    .icon-text-module.d-flex.align-items-center.my-4.mx-5 {
        margin: 2rem 1rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .banner-header {
        font-size: 35px;
        line-height: 1.4;
    }

    .transform-price h3 {
        font-family: Maven Pro;
        font-size: 30px;
    }

    .transform-price,
    .goal-setting-module {
        width: 100%;
    }

    .banner-form-module {
        margin-right: 0;
        padding: 20px;
    }

    .form-check {
        width: 80%;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 768px) {
    .form-title-bar {
        flex-wrap: wrap;
    }

    .form-title-bar li {
        width: 50%;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .transform-price {
        padding: 10px;
    }

    .banner-form-module {
        margin-bottom: 2rem;
    }

    .heading {
        font-size: 30px;
        line-height: 1.5;
    }

    .transform-kit-table td {
        padding: 10px;
    }

    .transform-kit-table tfoot td span {
        font-size: 30px;
        display: block;
        text-align: center;
    }

    .goal-setting-module {
        padding: 2rem;
    }

    .goal-setting-list li {
        font-size: 20px;
        line-height: 1.5;
        margin: 27px 0;
    }

    .achieve-goal-section .container {
        border: 1px solid #FB8A00;
        border-radius: 30px;
        width: 90%;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
    }

    .achieve-goal-header {
        padding: 0;
        width: 81%;
        margin: -60px auto 0;
    }

    .text-icon-module{
        margin-bottom: 2rem;
    }

    .team-member-img {
        width: 40%;
    }
}